.App {
  text-align: center;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .bar {
  margin-top: 30px;
} */

.line {
  margin-top: 50px;
}
.pie {
  margin-top: 50px;
  margin-left: 80px;
}
